.l-annuity-calculator__form {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.l-annuity-calculator__body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}