.l-navbar-label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.c-navbar-label__name {
    font-size: 16px;
    font-weight: 400;
    text-align: right;

    flex: 1 1 auto;
}

.c-navbar-label__circle {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
}