.l-button {
    position: relative;
    border-radius: 2px;
    width: 1;

    span {
        font-size: 16px;
        font-weight: normal;
    }
}

.l-button:hover {
    .c-button__wall {
        opacity: .9;
    }
}

.c-button__wall {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

$icon-width: 20px;

.c-button__icon {
    height: $icon-width;
    width: $icon-width;
    margin: 0 10px 0 0;
    object-fit: contain;

    &[src=""] {
        display: none;
    }
}
