.l-simple-interest__form {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.l-simple-interest__body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}