$colors: (
    'red': #CE5454,
    'blue': #1B192A,
    'white': #EAEAEA,
    'whitest': #FFFFFF,
);

// *[data-back-color='white'] {
//     background-color: white;
// }

// *[data-back-color='almost-white'] {
//     background-color: #EAEAEA;
// }

// *[data-back-color='gold'] {
//     background-color: #C3A97A;
// }

// *[data-back-color='light-gold'] {
//     background-color: #DFCBA6;
// }

// *[data-text-color='white'] {
//     color: white;
// }

// *[data-text-color='black'] {
//     color: black;
// }

@font-face {
    font-family: Dosis;
    src: url("./fonts/Dosis-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Dosis;
    src: url("./fonts/Dosis-Bold.ttf") format('truetype');
    font-weight: 700;
}

* {
    text-decoration: none; 
    border: none;
}

body {
    margin: 0;
    background-color: #ffffff;
    cursor: url('/media/icons/cursor.svg'), auto;
}

html, body {
    position: relative;
    max-width: 100%;
    overflow-y: visible;
    overflow-x: hidden
}

section {
    box-sizing: border-box;
    position: relative;
    margin-top: 80px;
    background-color: map-get($colors, 'white');
    

    &[data-state='base'] {
        padding: 48px 64px;
    }
}

@media only screen and (max-width: 700px) {
    section {
        &[data-state="base"] {
            padding: 24px 32px;
        }
    }
}

table {
    border-collapse: collapse;
}

td {
    padding: 0;
}

h1, h2, h3, h4, h5, p, label, input, textarea, select, option, li, span {
    font-family: Dosis;
    color: map-get($colors, 'whitest');
    margin: 0;
}

textarea {
    resize: none;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: 1px;
}

input {
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

h2 {
    font-weight: bold;
    font-size: 32px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
}

p {
    font-size: 14px;
}

h4 {
    font-weight: bold;
    font-size: 20px;
}

h5 {
    font-size: 16px;
    font-weight: bold;
}

ul {
    list-style-type: circle;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
}

$font-sizes: 48, 32, 24, 14;
@each $font-size in $font-sizes {
    .h-font-size--#{$font-size} {
        font-size: unquote($font-size + "px");
    }
}

$font-weights: lighter, normal, bold;
@each $font-weight in $font-weights {
    .h-font-weight--#{$font-weight} {
        font-weight: $font-weight;
    }
}

.h-font-size--48 {
    font-size: 48px;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* width */
::-webkit-scrollbar {
    width: 2.5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(133, 133, 133); 
    transition-duration: .2s;
    transition-timing-function: ease-out;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b4b404 
}

a, button, input[type="checkbox"], input[type="submit"] {
    pointer-events: visible;
    cursor: pointer;
    color: map-get($colors, 'black');
}

a:focus, a {
    outline: 0;
}

button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0;
}

label {
    position: relative;
    z-index: 1;
    pointer-events: none;
}

input[type="checkbox"] {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.h-animation {
    transition-timing-function: cubic-bezier(0.11, 1.11, 0.15, 0.99);
    transition-duration: 1.5s; 
    animation-timing-function: cubic-bezier(0.11, 1.11, 0.15, 0.99);
    animation-duration: 1.5s;
}

.h-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.h-flex--row-wrap {
    display: flex;
    flex-flow: row wrap; }
  
.h-flex--row-nowrap {
	display: flex;
	flex-flow: row nowrap; }

.h-flex--column-wrap {
	display: flex;
	flex-flow: column wrap; }

.h-flex--column-nowrap {
	display: flex;
	flex-flow: column nowrap; }

@mixin h-flex--center-center {
	justify-content: center;
    align-items: center; 
}

.h-row {
    display: flex;
    flex-flow: row nowrap;
    @include h-flex--center-center();
}

.h-col {
    display: flex;
    flex-flow: column nowrap;
    @include h-flex--center-center();
}

#l-app {
    box-sizing: border-box;
    background-color: map-get($colors, "blue");
    min-height: 100vh;
    width: 100vw;
    padding: 64px 48px;

    display: flex;
    flex-flow: column nowrap;
}

#l-app__body {
    display: flex;
    flex-flow: row nowrap;
}

#l-app__result {
    flex: 1 1 auto;
}

.l-app__box {
    padding: 32px 24px;
    min-height: 500px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.01);
}

.l-form {
    width: 100%;
}

#l-app__modal {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(27, 25, 43, 0.98);
    padding: 64px;

    &[data-display="appear"] {
        pointer-events: visible;
        opacity: 1;
    }

    &[data-display="hide"] {
        pointer-events: none;
        opacity: 0;
    }
}