.l-field {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.l-field__name {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.c-field__name {
    font-size: 12px;
}

$help-radius: 12px;

.c-field__help {
    height: $help-radius;
    width: $help-radius;
    background-color: white;
    color: #1B192A;
    border-radius: 50%;
    font-size: 9px;
    font-weight: bold;
}

.l-field__value {
    position: relative;
}

.c-field__value {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    flex: 0 1 auto;
    background-color: rgba(196, 196, 196, 0.02);
    color: white;
    border-radius: 2px;
    font-size: 10px;

    &[type="textarea"] {
        height: 100%;
    }

    &[data-state="focus"],
    &:focus {
        background-color: rgba(196, 196, 196, 0.05);
    
        & + .c-field__bottom-line {
            transform: scale(1, 1);
        }

        & ~ .l-field__dropdown {
            clip-path: inset(0);
        }
    }

    &[data-editable="false"] {
        background-color: rgba(255, 255, 255, 0.685);
    }
}

.c-field__bottom-line {
    height: 1px;
    width: 100%;
    background-color: #ADD11E;
    transform-origin: 25% 50%;
    transform: scale(0, 1);
}

.c-field__arrow-down-icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 10px;
    height: 25%;
    filter: invert(100%);
    opacity: .3;
    transform: translate(0, -50%); 
}

.l-field__dropdown {
    z-index: 100;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translate(0, calc(100% + 4px));
    background-color: #1B192A;
    border-radius: 2px;

    clip-path: inset(0 0 100% 0);
}

.c-field__dropdown-item {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 10px;
    color: white;
    width: 100%;
    height: 100%;

    &:hover {
        transform: translate(6px, 0);
    }
}

