.l-modal {
    position: relative;
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.c-modal__message {
    padding: 30px 36px;
    background-color: rgba(255, 255, 255, 0.02);
}

.c-modal__close-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    cursor: pointer;
}